h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading);
}

/* ------------------------------- Title Page */
.about-title {
    padding: 80px 0 0 0;
    font-size: 40px;
    background-color: rgba(240, 248, 255, 0.5);
    height: inherit
}

.about-bg {
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}

/* ------------------------------- About Content */
.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.amelia {
    padding: 30px;
    font-size: 28px;
}

.about-photo {
    max-width: 50vh;
    max-height: 500vh;
    padding: 10px;
}

.about-text {
    font-family: var(--text);
    padding: 10px;
}

.about-text p {
    padding-bottom: 10px;
    text-align: justify;
    color: var(--subtext)
}

.contact-btn {
    display: flex;
    justify-content: center;
}
/* 
@media only screen and (min-width: 600px) {
    .amelia {
        
    }

    .about-photo {
        
    }

    .about-text {
        
    }
} */