/* ------------------------------- Title */
.about-title {
    padding: 60px 0 0 0;
    font-size: 12vh;
    color: var(--subtitle);
    background-color: rgba(240, 248, 255, 0.5);
    height: inherit
}

.about-bg {
    background-image: url("../images/about-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}

/* ------------------------------- Content */
.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.krystine {
    padding: 5px;
    font-size: 28px;
}

.about-photo {
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
}

.about-text {
    padding: 10px;
}

.about-text p {
    padding-bottom: 10px;
    text-align: justify;
}

.contact-btn {
    display: flex;
    justify-content: center;
}

/* @media only screen and (min-width: 600px) {

} */