/* ------------------------------- Title */
.reviews-bg {
    background-image: url("../images/reviews-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
}

.reviews-title {
    padding: 60px 0 0 0;
    font-size: 12vh;
    color: var(--subtitle);
    background-color: rgba(240, 248, 255, 0.5);
    height: inherit
}

/* ------------------------------- Content */
.reviews-content {
    margin: 30px;
}

.review-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

h2 {
    font-size: 24px;
    padding: 10px;
}

.stars {
    max-width: 20vh;
}

p{
    padding: 10px 0;
    display: flex;
}

img {
    max-width: 50vh;
}